#home {
  height: 695px;
}

#home img {
  height: 695px;
}

#top {
  margin-top: 3em;
}

#cards {
  height: 600px;
  padding: 3.5em 0;
}


h2 {
    margin-top: 2em;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  align-content: stretch;
  margin-top: 4em;
}

.gallery img {
  height: 200px;
}

.grow {
  transition: all .2s ease-in-out;
 }

.grow:hover {
  transform: scale(1.1);
}


/* #feature-one {
  height: 600px;
  margin: 3.5em 0;

}

#feature-one img {
  height: 300px;
}

#feature-two {
  height: 600px;
  margin: 3.5em 0;
}

#feature-two img {
  height: 400px;
}
#feature-three {
  height: 600px;
  margin: 3.5em 0;
}

#feature-three img {
  height: 400px;
} */

footer {
  height: 3em;
  text-align: left;
}



footer a {
  display: flex;
  justify-content: flex-end;
}

footer p {
  display: flex;
  justify-content: flex-start;
}

/* colors */

/* current favorite  */
/*
#00999b


2nd red option
#E8175D

yellow alternate for above donate 1st place
ffb400

offwhite for background and footer lettering
fef4e8

teal 1st place
#E5FCC2

light blue for background
1989ac

dark blue for lettering and footer
283e56
 */

/*
light blueish
#6DC9C8

blue option 1
#00bbf0

GOLD
#ffb400

dark blue option 1
#2d4059

dark blue option 2
#0e3150

offwhite option 1
#f6f6f6
*/



/* SAN MARINO
446CB3
68,108,179 */

/* JELLY BEAN
2574A9
37, 116, 169 */

/* TAHITI GOLD
E87E04
232, 126, 4 */
